html
    head
        title Ассистент
    body
        h1 #{title}
        form(action='/deletDocColumn', method='POST')
            p
            input(type='submit', value='Удалить')
            p
            ul
                each value, index in rows
                    li 
                        input(type='radio' name='radio' value=index)
                        |#{value}      
                              
            p
            //Невидмиое поле для понимания с какой таблицей type работаем 
            input(name='docID' value=docID style={visibility: 'hidden'})                   
            p
            h2= response

